{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Games</title>
    <link rel="stylesheet" href="{% static 'volume_styles.css' %}">
</head>
<body>
    <section>
  <!--for demo wrap-->
        <nav>
            <ul id="navbar">
                <li><a href="{% url 'all_games' %}">Games</a></li>
                <li><a href="{% url 'traffic' %}">Traffic</a></li>
                <li><a href="{% url 'predictions' %}">Predictions</a></li>
                <li><a href="{% url 'valuebets' %}">Value bets</a></li>
            </ul>
        </nav>
  <h1>ALL GAMES FOR TODAY</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="time_regular">Time</th>
          <th class="teams_regular">Home Team</th>
          <th class="teams_regular">Away Team</th>
            <th>Home Odds</th>
            <th>Draw Odds</th>
            <th>Away Odds</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="1">
      <tbody>
      {% for game in all_regular_games %}
      <tr>
          <td class="time_regular">{{ game.time }}</td>
          <td class="teams_regular">{{ game.home_team }}</td>
          <td class="teams_tegular">{{ game.away_team }}</td>
          <td>{{ game.home_odd }}</td>
          <td>{{ game.draw_odd }}</td>
          <td>{{ game.away_odd }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>
</body>
</html>
