<div id="space-right">
    <aside>
        <div id="my_coupon">
            <div>My coupon:</div>
                <input id="total_odds_field" placeholder="Total odds" disabled=true/>
            <div id="toggle-stake-and-profit">
                <input id="total_profit" disabled=true placeholder="Total profit"></input>
                <input id="enter-stake-field" type="text" placeholder="Enter your stake"></input>
            </div>
            </div>
                <div id="toggle-div">
                <div id="send-button-div">
                    <button id="delete-coupon" type="submit">Delete</button>
                    <button id="send-button" type="submit">Send to market</button>
                </div>
            <div id="games-appended"></div>
        </div>
    </aside>
</div>