.time_regular{
    width: 5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: -webkit-linear-gradient(right, #25c481, #25b7c4);
  background: linear-gradient(to left, #25c481, #25b7c4);
}

li {
  float: left;
}

li a {
  margin: 4px;
  display: block;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

li a:hover {
  background: #25c482;
}

.teams_regular {
    text-align: center;
}

h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
  padding-inline-end: 18px;
 }
.tbl-content{
  height:700px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  items-align: center;
  text-align: center;
  vertical-align:middle;
  font-weight: bold;
  font-size: 15px;
  word-wrap: break-word;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

td button {
  border-radius: 10%;
  width: 60%;
  background-color: inherit;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

td button:hover {
  background: #25c482;
}

.teams_blocks{
    width: 10em;
}

.teams_blocks_header{
    width: 12em;
}


aside {
    items-align: center;
    text-align: center;
    position: absolute;
    top: 148px;
    right: 76px;
    font-size: 18px;
    width: 13%;
    height: 50%;
}

#my_coupon {
    margin-bottom: 20px;
}

#total_odds_field {
    margin-top: 5px;
    placeholder: "Total odds";
    disabled: true;
}

#sent-button {
    background: rgb(150,0,0);
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 0px 300px;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}